* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1199px;
  margin: auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.btn-gradient {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  border: 1px solid transparent;
  border-radius: 30px;
  color: white;
  transition: 0.5s;
  background-size: 200%;
  cursor: pointer;
  text-transform: uppercase;
}
.btn-gradient:hover {
  background-position: right center;
}

/* Start header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_content nav {
  display: flex;
  align-items: center;
}

.header_content nav ul {
  display: flex;
  margin-right: 30px;
}

nav li {
  padding: 55px 15px;
}

nav li a {
  color: black;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.5s;
}

nav a span {
  display: inline-block;
}

nav li:hover a {
  color: #f55f8d;
}

nav li:hover span {
  animation: upToDown 0.3s;
}
/* End Header */

/* Start carousel */
.carousel {
  background-image: url(../img/pic2.png);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  padding-top: 150px;
}

.carousel_content {
  display: flex;
  align-items: center;
}

.carousel_left {
  width: 60%;
}

.carousel_title p {
  font-size: 22px;
  font-weight: 700;
  color: #f55f8d;
}

.carousel_title h2 {
  font-size: 70px;
  font-weight: 800;
  color: black;
  margin: 20px 0;
}

.carousel_article p {
  font-size: 18px;
  color: #636363;
  margin: 20px 0;
}

.carousel_article i {
  width: 35px;
  height: 35px;
  text-align: center;
  color: white;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 20px;
  line-height: 35px;
}

.carousel_article ul li {
  font-size: 20px;
  padding: 10px 5px 10px 0;
}

.carousel_right {
  width: 40%;
}

.carousel_right img {
  height: 100%;
  width: 550px;
  display: block;
}

.btn_space {
  margin-top: 20px;
}
/* End Carousel */

/* Start Services */
.service {
  background-image: url(../img/bg2.png);
  background-size: cover;
  margin: 300px 0;
  background-position: top center;
  text-align: center;
}

.service_title p {
  font-size: 20px;
  color: #f55f8d;
  font-weight: 700;
}

.service_title h2 {
  font-size: 70px;
  color: black;
  font-weight: 700;
  text-transform: capitalize;
  margin: 20px 0;
}

.service_content {
  display: flex;
  margin: 20px 0;
}

.service_item {
  margin: 0 20px;
  border-radius: 15px;
  background: #fff;
  border: 3px solid transparent;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px 45px;
  transform: translateY(0);
  transition: 0.5s;
}

.service_item:hover {
  border-image: url(../img/br.png) 1 round;
  transform: translateY(-20px);
}

.service_item img {
  height: 200px;
}

.service_item h3 {
  margin: 20px 0;
  font-size: 25px;
  color: black;
}

.service_item p {
  color: #636363;
}
/* End Services */

/* Start About */
.about {
  background-image: url(../img/bg15.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.about_content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.about_left {
  width: 60%;
  position: absolute;
  left: -17%;
}

.about_left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}

.about_right {
  width: 50%;
}

.about_title p {
  color: #f55f8d;
  font-size: 22px;
  font-weight: 600;
}

.about_title h2 {
  font-size: 70px;
  color: black;
  font-weight: 600;
  margin: 20px 0;
}

.about_right > p,
.about_right ul li {
  color: #636363;
}

.about_right > p {
  margin: 20px 0;
}

.about_right ul li {
  margin: 10px 0;
}

.about_right ul i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
}

.about_right button {
  margin-top: 20px;
}
/* End Service */

/* Start Number */
.number {
  background-image: url(../img/bg14.png);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin: 80px 0 50px;
}

.number_content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 30px;
}

.number_item {
  width: 25%;
  margin: 20px 0;
}

.number_item i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: white;
  display: inline-block;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
}

.number_item p:first-of-type {
  font-size: 60px;
  font-weight: 800;
  color: #f55f8d;
  margin: 20px 0 10px;
}

.number_item p:last-of-type {
  font-size: 18px;
  color: black;
}
/* End Number */

/* Start feature */
.feature {
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 100px 0;
}

.feature_content {
  display: flex;
}

.feature_left,
.feature_right {
  width: 50%;
}

.feature_banner {
  margin-right: -80px;
}

.feature_banner img {
  width: 100%;
  height: 100%;
  animation: move2 5s infinite;
}

.feature_title p {
  font-size: 20px;
  color: #f55f8d;
  font-weight: 500;
  text-transform: capitalize;
}

.feature_title h2 {
  font-size: 70px;
  font-weight: 800;
  color: black;
  margin: 20px 0;
  line-height: 1.1;
}

.feature_item {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
  padding: 0 50px 30px 0;
  align-items: center;
  padding: 30px;
  position: relative;
}

.feature_item::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1s;
  border-radius: 10px;
}

.feature_item:hover::after {
  opacity: 1;
}

.feature_item:hover i,
.feature_item:hover div,
.feature_item:hover h3,
.feature_item:hover p {
  color: #fff;
}

.feature_item div {
  padding-left: 25px;
  transition: all 1s;
  z-index: 1;
}

.feature_item i {
  font-size: 80px;
  color: #f55f8d;
  line-height: 1;
  z-index: 1;
  transition: all 1s;
}

.feature_item div h3 {
  font-size: 25px;
  font-weight: 600;
  color: black;
  transition: all 1s;
  margin-bottom: 10px;
}

.feature_item div p {
  color: #636363;
  transition: all 1s;
}

.feature_container {
  padding: 0 50px 30px 0;
}

.feature_container:nth-of-type(2) {
  padding: 0 0 30px 50px;
}
/* End feature */

/* Start portfolio */
.portfolio {
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  overflow: hidden;
}

.portfolio_title p {
  color: #f55f8d;
  font-size: 20px;
  font-weight: 600;
}

.portfolio_title h2 {
  color: black;
  font-size: 70px;
  font-weight: 800;
  margin: 20px 0;
  text-transform: capitalize;
}

.portfolio_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.item_1 {
  grid-column: 1 / span 2;
}

.item_5 {
  grid-column: 1 / span 2;
}

.item_6 {
  grid-row: 2/4;
  grid-column: 3/4;
}

.portfolio_item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.portfolio_item img {
  width: 100%;
  height: 100%;
}

.portfolio_item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.5s;
}

.portfolio_item:hover::before {
  left: 125%;
}

.portfolio_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}

.portfolio_item:hover .portfolio_overlay {
  opacity: 1;
}

.portfolio_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: white;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  transition: all 0.75s;
  transform: translate(20px, -20px);
}

.portfolio_icon a {
  color: white;
  cursor: pointer;
}

.portfolio_item:hover .portfolio_icon {
  transform: translate(0);
}

.portfolio_text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  transform: translateY(150px);
  transition: all 0.75s;
  text-align: left;
}

.portfolio_item:hover .portfolio_text {
  transform: translateY(0);
}

.portfolio_text h3 {
  font-size: 22px;
  font-weight: 800;
  color: white;
}

.portfolio_text p {
  color: white;
  opacity: 0.7;
}
/* End Portfolio */

/* Start blog */
.blog {
  margin: 100px 0 50px 0;
  background-image: url(../img/bg16.png);
  background-size: cover;
  text-align: center;
  background-position: top center;
}

.blog_item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}

.blog_title {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.blog_title p {
  font-size: 22px;
  font-weight: 600;
  color: #f55f8d;
}

.blog_title h2 {
  font-size: 70px;
  font-weight: 800;
  color: black;
}

.blog_header {
  position: relative;
}

.blog_header img {
  border-radius: 8px;
}

.blog_header p {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  color: white;
  padding: 10px 20px;
  position: absolute;
  bottom: -20px;
  left: 15px;
}

.blog_body {
  padding: 30px 15px 20px;
  margin-bottom: 20px;
}

.blog_body h3 {
  font-size: 25px;
  font-weight: 700;
  color: black;
}

.blog_body p {
  color: #636363;
}

.blog_footer {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog_footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}

.blog_footer span {
  color: #636363;
}

.blog_footer p:first-of-type {
  margin-right: 20px;
}

.blog_footer p:first-of-type span {
  color: #f55f8d;
}
/* End blog */

/* Start footer */
footer {
  background-image: url(../img/bg4.png);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}

footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer_top {
  position: relative;
  display: flex;
  background-color: #fff;
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 50px 60px;
  border-radius: 10px;
  box-shadow: 0 0px 30px 0 rgb(0 0 0 / 10%);
}

.footer_text,
.footer_form {
  width: 50%;
}

.footer_text h2 {
  font-size: 30px;
  color: black;
}

.footer_form form {
  display: flex;
  border-radius: 8px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.footer_form input {
  padding: 20px 35px;
  font-size: 15px;
  color: gray;
  background: white;
  border: 1px solid white;
  flex: 1 1 auto;
  outline: none;
  transition: all 0.5s;
  border-radius: 8px 0 0 8px;
}

.footer_form input:focus,
.footer_form input:hover {
  border-color: #f55f8d;
}

.footer_form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 0 8px 8px 0;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  border: 1px solid transparent;
}

.footer_form button:hover {
  background-position: right center;
}

.footer_form button:hover i {
  animation: toLeftFromRight 0.5s forwards;
  display: inline-block;
}

.footer_content {
  display: flex;
  margin: 70px 0;
  position: relative;
}

.footer_item {
  width: 25%;
}

.footer_item a {
  font-size: 16px;
  color: #636363;
}

.footer_item li {
  padding: 13px 0;
}

.footer_item i {
  margin-right: 10px;
  font-weight: 600;
}

.footer_contact li {
  display: flex;
}

.footer_contact i {
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  border-radius: 50px;
  text-align: center;
}

.footer_item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}

.footer_item ul li a:hover {
  color: #fff;
}

.footer_item h3 {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  padding-bottom: 10px;
  color: #fff;
  text-transform: capitalize;
}

.footer_item h3::before,
.footer_item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}

.footer_item h3::before {
  width: 15px;
}

.footer_item h3::after {
  width: 45px;
  left: 20px;
}

.footer_item a:hover {
  color: white;
}

.footer_copyright {
  padding: 15px 0;
  position: relative;
  background-color: #1f343b;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
}

.footerCR_left span {
  color: #f55f8d;
}

.footerCR_right {
  display: flex;
}

.footerCR_right a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
  margin-left: 5px;
}

.footerCR_right a:hover {
  background-color: #f55f8d;
}
/* End footer */

/* BACK TO TOP */
.backToTop {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: white;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/* Keyframes */
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}

@keyframes toLeftFromRight {
  49% {
    transform: translateX(100%);
  }

  50% {
    opacity: 0;
    transform: translateX(-100%);
  }

  51% {
    opacity: 1;
  }
}
